.navContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "logoContainer  linkConatiner";
  justify-content: center;
  align-items: center;
  color: #D4D2D5;
  background: #0E7C7B;
}

.links {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
}
.links a{
  color: #D4D2D5;
  text-decoration: none;
  font-size: 1.3em;
}
.links a:hover{
  -webkit-transform: scale(1.2); 
  -moz-transform: scale(1.2);
}

.logoContainer {
  margin-left: 10px;
  font-size: 1.2em;
}
.links > li:hover {
  color: #84848a;
}
@media only screen and (max-width: 700px) {
  .links a{
    padding: 0 10px;
  }
}
@media only screen and (max-width: 500px) {
  .linkConatiner{
    display: none;
  }

}